body {
    margin: 0;
    height: 100vh;
    background: #000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}


#canvas {
    display: block;
    margin: 0 auto;
}

.title {
    position: absolute;
    bottom: 20px;
    color: rgba(0, 255, 255, 0.7);
    font-size: 18px;
    text-align: center;
    width: 100%;
    text-shadow: 0 0 10px cyan;
}